.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    .not-found-heading{
        font-size: 20px;
        font-weight: 600;
        padding: 10px 0;
    }
    .not-found-description{
        font-size: 16px;
        padding: 10px 0;
        text-align: center;
    }
}